<!DOCTYPE html>
<html>
<head>
    <title>The count of money - {% block title %}Welcome!{% endblock %}</title>

    <meta charset="UTF-8">

    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
